{% extends "partials/admin_base.html" %}
{% load static %}
{% block body %}
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Animes </h2>
                    <p>Add, edit or delete a Anime</p>
                    {% if error_messages %}
                    <div class="alert alert-danger">
                        <ul>
                        {% for error_message in error_messages %}
                            <li>{{ error_message }}</li>
                        {% endfor %}
                        </ul>
                    </div>
                    {% endif %}
                </div>
                
            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="table-responsive">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            
                                            <th>ID</th>
                                            <th>Name</th>                                        
                                            <th>Image</th>
                                            <th class="text-end">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for anime in animes %}
                                        <tr>
                                           
                                            <th scope="row">{{anime.aid}}</th>
                                            
                                            <td>{{anime.title}}</td>
                                            
                                            <td>
                                              {% if anime.image %}
                                              <img src="{{ anime.image.url }}" class="img-sm img-thumbnail" alt="">
                                              {% else %}
                                              <p>No image available</p>
                                              {% endif %}
                                             
                                            </td>
    
                                            <td class="text-end" >
                                                <div class="dropdown">
                                                 
                                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                    <div class="dropdown-menu">
                                                        <!-- <a class="dropdown-item" href="#">View detail</a> -->
                                                        <a class="dropdown-item" href="{% url 'adminside:animecat_edit' anime.aid  %}">edit_info</a>
        
        
                                                        <a class="dropdown-item" href="{% url 'adminside:available_animecat' anime.aid %}">{% if not anime.is_blocked %} Available {% else %} Unavailable{% endif %}</a>
                                                        <a class="dropdown-item text-danger" href="{% url 'adminside:delete_animecat' anime.aid %}">Delete</a>
                                                    </div>
                                                </div> <!-- dropdown //end -->
                                             
                                            </td>
                                        </tr>
                                        {% endfor %}
        
                                    </tbody>
                                </table>
                            </div>
                      </div> <!-- .col// -->




                      <div class="col-md-3">
                         <form method="post" action="{% url 'adminside:add_animecat'  %}"enctype="multipart/form-data"> 
                          {% csrf_token %}
                          
                            <div class="mb-4">
                                <label for="anime_name" class="form-label">Anime Name</label>
                                <input type="text" placeholder="Type here" class="form-control"  name="anime_name"/>
                            </div>
                            <div class="card-body">
                              <div class="input-upload">
                                  <label for="anime_image">Image</label>
                                  <input class="form-control" type="file" required="True" name="anime_image">
                              </div>
                          </div>
                             <div class="d-grid">
                                <button type="submit"  class="btn btn-primary">Create category</button>
                            </div>
                        </form>
                    </div>
                    </div> <!-- .row // -->
                </div> <!-- card body .// -->
            </div> <!-- card .// -->
        </section> <!-- content-main end// -->
{% if animes.has_previous %}
<a href="?page=1">&laquo First</a>
<a href="?page={{animes.previous_page_number}}">Previous</a>
{% endif %}
Page {{animes.number}} of {{animes.paginator.num_pages}}
{% if animes.has_next %}
<a href="?page={{animes.next_page_number}}">Next</a>
<a href="?page={{animes.paginator.num_pages}}">Last &raquo</a>
{% endif %}
{% endblock body %}
{% comment %} id="Category_name" {% endcomment %}