{% extends "partials/admin_base.html" %}
{% block body %}
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Wishlist
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <h3>Coupon list</h3>
                        <table class="table shopping-summery text-center">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col" colspan="">Coupon code</th>
                                    <th scope="col">Discount (%)</th>
                                    <th scope="col">Valid form</th>
                                    <th scope="col">Valid to</th>
                                    <th scope="col">active</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for coupon in coupons %}          
                              <tr>
                                <td class="text-center" >
                                    <span class="color3 font-weight-bold">{{coupon.code}}</span>
                                </td>
                                <td class="text-center" >
                                    <span class="color3 font-weight-bold">{{coupon.discount}}</span>
                                </td>
                                  
                                    <td class="text-center" >
                                        <span class="color3 font-weight-bold">{{coupon.valid_from}}</span>
                                    </td>
                                    <td class="text-right">
                                        <span class="color3 font-weight-bold">{{coupon.valid_to}}</span>
                                    </td>
                                    <td class="text-right">
                                        <span class="color3 font-weight-bold">{{coupon.active}}</span>
                                    </td>
                                    <td class="text-right">
                                       
                                                <div class="dropdown">
                                                 
                                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>

                                    <div class="dropdown-menu">
                                       
                                        <a class="dropdown-item" href="{% url 'adminside:available_coupon' coupon.id %}">{% if not coupon.active %} Active {% else %} Unactive{% endif %}</a>
                                        <a class="dropdown-item" href="{% url 'adminside:edit_coupon' coupon.id %}">Edit</a>
                                        <a class="dropdown-item text-danger" href="{% url 'adminside:delete_coupon' coupon.id %}">Delete</a>
                                    </div>
                                </div>
                                </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% if coupons.has_previous %}
<a href="?page=1">&laquo First</a>
<a href="?page={{coupons.previous_page_number}}">Previous</a>


{%  endif %}
Page {{coupons.number}} of {{coupons.paginator.num_pages}}
{% if coupons.has_next %}
<a href="?page={{coupons.next_page_number}}">Next</a>
<a href="?page={{coupons.paginator.num_pages}}">Last  &raquo</a>
{% endif %}

{% endblock body %}




