{% extends "partials/admin_base.html" %}
{% block body %}
<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Wishlist
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <h3>Product Offer list</h3>
                        <table class="table shopping-summery text-center">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col" colspan="">Product</th>
                                    <th scope="col">Discount</th>
                                    <th scope="col">Valid form</th>
                                    <th scope="col">Valid to</th>
                                    <th scope="col">Active</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for offer in product_offers %}         
                            <tr>
                                <td class="text-center" >
                                    <span class="color3 font-weight-bold">{{ offer.product.title }}</span>
                                </td>
                                <td class="text-center" >
                                    <span class="color3 font-weight-bold">{{ offer.discount }}</span>
                                </td>
                                
                                    <td class="text-center" >
                                        <span class="color3 font-weight-bold">{{offer.start_date}}</span>
                                    </td>
                                    <td class="text-right">
                                        <span class="color3 font-weight-bold">{{offer.end_date}}</span>
                                    </td>
                                    <td class="text-right">
                                        <span class="color3 font-weight-bold">{{offer.active}}</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown"> 
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="{% url 'adminside:block_product_offer' offer.id %}">{% if not offer.active %} Active {% else %} Unactive{% endif %}</a>
                                                    <a class="dropdown-item text-danger" href="{% url 'adminside:delete_product_offer' offer.id %}">Delete</a>
                                                </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {% if product_offers.has_previous %}
        <a href="?page=1">&laquo First</a>
        <a href="?page={{product_offers.previous_page_number}}">Previous</a>
        {%  endif %}
        Page {{product_offers.number}} of {{product_offer.paginator.num_pages}}
        {% if product_offers.has_next %}
        <a href="?page={{product_offers.next_page_number}}">Next</a>
        <a href="?page={{product_offers.paginator.num_pages}}">Last  &raquo</a>
        {% endif %}
    </section>




    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <h3>Category Offer list</h3>
                        <table class="table shopping-summery text-center">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col" colspan="">Category</th>
                                    <th scope="col">Discount</th>
                                    <th scope="col">Valid form</th>
                                    <th scope="col">Valid to</th>
                                    <th scope="col">Active</th>
                                    <th scope="col">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for offer in category_offers %}     
                              <tr>
                                <td class="text-center" >
                                    <span class="color3 font-weight-bold">{{ offer.category.title }}</span>
                                </td>
                                <td class="text-center" >
                                    <span class="color3 font-weight-bold">{{ offer.discount }}</span>
                                </td>
                                  
                                    <td class="text-center" >
                                        <span class="color3 font-weight-bold">{{offer.start_date}}</span>
                                    </td>
                                    <td class="text-right">
                                        <span class="color3 font-weight-bold">{{offer.end_date}}</span>
                                    </td>
                                    <td class="text-right">
                                        <span class="color3 font-weight-bold">{{offer.active}}</span>
                                    </td>
                                    <td class="text-right">
                                        <div class="dropdown"> 
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="{% url 'adminside:block_category_offer' offer.id %}">{% if not offer.active %} Active {% else %} Unactive{% endif %}</a>
                                                    <a class="dropdown-item text-danger" href="{% url 'adminside:delete_category_offer' offer.id %}">Delete</a>
                                                </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        {% if category_offers.has_previous %}
        <a href="?page=1">&laquo First</a>
        <a href="?page={{category_offers.previous_page_number}}">Previous</a>
        {%  endif %}
        Page {{category_offers.number}} of {{category_offers.paginator.num_pages}}
        {% if category_offers.has_next %}
        <a href="?page={{category_offers.next_page_number}}">Next</a>
        <a href="?page={{category_offers.paginator.num_pages}}">Last  &raquo</a>
        {% endif %}
    </section>
</main>
{% endblock body %}

  

              