{% extends "partials/admin_base.html" %}
{% block body %}
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order List </h2>
          
        </div>
        
    </div>
    <div class="card mb-4">
        <header class="card-header">
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Total</th>
                            <th scope="col">Status</th>
                            <th scope="col">payment method</th>
                            <th scope="col">Date</th>
                            <th scope="col" class="text-end"> Action </th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders  %}
                        <tr>
                            <td>{{order.order_number}}</td>
                            <td><b>{{order.user.username}}</b></td>
                            <td>{{order.order_total}}</td>
                            <td><span class="badge rounded-pill alert-warning">{{order.status}}</span></td>
                            <td>{{order.payment.payment_method}}</td>
                            <td>{{order.created_at}}</td>
                            <td class="text-end">
                                <a href="{% url "adminside:order_detail" order.id %}" class="btn btn-md rounded font-sm">Detail</a>
                                <div class="dropdown">
                                    <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">View detail</a>
                                        <a class="dropdown-item" href="#">Edit info</a>
                                        <a class="dropdown-item text-danger" href="#">Delete</a>
                                    </div>
                                </div> <!-- dropdown //end -->
                            </td>
                        </tr>
                        {% endfor %}
                       
                           
                    </tbody>
                </table>
            </div> <!-- table-responsive //end -->
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
</section> <!-- content-main end// -->


{% if orders.has_previous %}
<a href="?page=1">&laquo First</a>
<a href="?page={{orders.previous_page_number}}">Previous</a>


{%  endif %}
Page {{orders.number}} of {{orders.paginator.num_pages}}
{% if orders.has_next %}
<a href="?page={{orders.next_page_number}}">Next</a>
<a href="?page={{orders.paginator.num_pages}}">Last  &raquo</a>

{% endif %}


{% endblock body %}