{% extends "partials/admin_base.html" %}
{% block body %}

<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Order detail</h2>
            <p>Details for Order ID:{{order.order_number}}</p>
        </div>
        <!-- {% for message in messages  %}
          <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
            <strong></strong> {{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>

          {% endfor %} -->
    </div>
    <div class="card">
        <header class="card-header">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                    <span>
                        <i class="material-icons md-calendar_today"></i> <b>{{order.created_at}}</b>
                    </span> <br>
                    <small class="text-muted">Order ID: {{order.order_number}}</small><br>
                    {% if order.status == "Cancelled" %}
                    <strong>Status:<span style="color: red">{{ order.status }}</span></strong><br>
                    {% else %}
                    <small class="text-muted">Status: {{order.status }}</small><br>
                    {% endif %}
                    {% if not order.status == "Cancelled" %}
                    <small class="text-muted">payment status: {{order.payment.status}}</small>
                    {% endif %}
                    

                </div>
                <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                    <form action="{% url 'adminside:update_order_status' order.id %}" method="POST">
                        {% csrf_token %}
                        <select name="status" class="form-select d-inline-block mb-lg-0 mb-15 mw-200">
                            <option value="" disabled selected>Change status</option>
                            {% for status_choice in order.STATUS %}
                            <option value="{{ status_choice.0 }}" {% if order.status == status_choice.0 %} selected {% endif %}>{{ status_choice.1 }}</option>                            {% endfor %}
                        </select>
                        <button type="submit" class="btn btn-primary">Update Status</button>
                    </form>
                </div>
                
        </header> <!-- card-header end// -->
        <div class="card-body">
            <div class="row mb-50 mt-20 order-info-wrap">
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-person"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Customer</h6>
                            <p class="mb-1">
                                {{order.user.username}} <br> <template class="__cf_email__" data-cfemail="e2838e879aa2879a838f928e87cc818d8f">[email&#160;protected]</template> <br> +998 99 22123456
                            </p>
                            
                        </div>
                    </article>
                </div> <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-local_shipping"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Order info</h6>
                            <p class="mb-1">
                                Pay method: {{order.payment.payment_method}} <br> Status: {{order.status}}
                            </p>
                           
                        </div>
                    </article>
                </div> <!-- col// -->
                <div class="col-md-4">
                    <article class="icontext align-items-start">
                        <span class="icon icon-sm rounded-circle bg-primary-light">
                            <i class="text-primary material-icons md-place"></i>
                        </span>
                        <div class="text">
                            <h6 class="mb-1">Deliver to</h6>
                            <div class="card-body">
                                <h5 class="card-title">{{order.user.username}}</h5>
                                <p class="card-text">{{order.shipping_address.house}}</p>
                                <p class="card-text">{{order.shipping_address.street}} ,{{order.shipping_address.landmark}}</p>
                                <p class="card-text">{{order.shipping_address.town}}  ,{{order.shipping_address.state}}</p>
                                <p class="card-text">{{order.shipping_address.pincode}}</p>
                            </div>
                       
                        </div>
                    </article>
                </div> <!-- col// -->
            </div> <!-- row // -->
            <div class="row">
                <div class="col-lg-7">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th width="40%">Product</th>
                                    <th width="20%">Unit Price</th>
                                    <th width="20%">Quantity</th>
                                    <th width="20%" class="text-end">Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in order_products %}
                                        <tr>
                                            <td class="image product-thumbnail"><img src="{{ item.product.image.url }}" alt="#">                                                    
                                                <h5 class="product-name"><a href="{% url 'app:product_detail' item.product.pid %}">{{ item.product.title }}</a></h5>
                                                <p class="font-xs">
                                                    {% if item.variations.all %}
                                                        {% for iteme in item.variations.all %}
                                                            <li>Size:{{ iteme.size|upper }}</li>
                                                        {% endfor %}
                                                   {% endif %}
                                             </p>
                                            </td>
                                            
                                            <td class="price" data-title="Price"><span><span>₹</span>{{ item.product.price|floatformat:2 }}</span></td>
                                            <td>{{item.quantity}}</td>
                                            <td>{{item.total_price}}</td>
                                        </tr>
                                        {% endfor %}
                                <tr>
                                    <td colspan="4">
                                        <article class="float-end">
                                            <dl class="dlist">
                                                <dt>Subtotal:</dt>
                                                <dd>{{subtotal}}</dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Shipping cost:</dt>
                                                <dd>{{order.shipping}}</dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>coupon:</dt>
                                                <dd>-{{coupon.discount}}</dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt>Offer:</dt>
                                                <dd>-{{order.offer_price}}</dd>
                                            </dl>
                                          
                                            <dl class="dlist">
                                                <dt>Grand total:</dt>
                                                <dd> <b class="h5">{{order.order_total}}</b> </dd>
                                            </dl>
                                            <dl class="dlist">
                                                <dt class="text-muted">Status:</dt>
                                                <dd>
                                                    <span class="badge rounded-pill alert-success text-success">Payment {{order.payment.status}}</span>
                                                </dd>
                                            </dl>
                                        </article>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div> <!-- table-responsive// -->
                </div> <!-- col// -->
                <div class="col-lg-1"></div>
                <div class="col-lg-4">
                    <div class="box shadow-sm bg-light">
                        <h6 class="mb-15">Payment info</h6>
                        <p>
                            {{order.payment.user}}<br>
                           payement ID: {{order.payment.payment_id}}<br>
                           payment method:{{order.payment.payment_method}}<br>
                           amount paid:{{order.payment.amount_paid}}<br>
                           status:{{order.payment.status}}<br>
                        </p>
                    </div>
                    <div class="h-25 pt-4">
                        <div class="mb-3">
                            <label>Notes</label>
                           <p>{{order.order_note}}</p>
                        </div>
                    </div>
                </div> <!-- col// -->
            </div>
        </div> <!-- card-body end// -->
    </div> <!-- card end// -->
</section> <!-- content-main end// -->

{% endblock body %}
