{% extends "partials/admin_base.html" %}
{% load static %}
{% block body %}
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Products List</h2>
                 
                </div>
                
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row align-items-center">

                       
                </header> <!-- card-header end// -->
                <div class="card-body">
                  
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>Image</th>
                                    <th>Product</th>
                                    <th>Category</th>
                                    <th>Anime</th>
                                    <th>Character</th>
                                    <th>Status</th>
                                    <th>Sale Price</th>                                    
                                    <th>Stock Quantity</th>
                                    <th class="text-end">block/unblock</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr><p>Click to view details</p></tr>
                                
                                {% for product in productss %}
                                <tr>
                                    <td>
                                        {% if product.image %}
                                            <img src="{{ product.image.url }}" class="img-sm img-thumbnail" alt="">
                                        {% else %}
                                        <p>No image available</p>
                                        {% endif %}
                                       
                                    </td>
                                   
                                    <td><a href="{% url 'adminside:products_details' product.pid %}"> <h6 class="mb-0">{{ product.title}}</h6></a></td>
                                    <td><a href="#"> <h6 class="mb-0">{{ product.category}}</h6></a></td>
                                    <td><a href="#"> <h6 class="mb-0">{{ product.anime}}</h6></a></td>
                                    <td><a href="#"> <h6 class="mb-0">{{ product.character}}</h6></a></td>
                                    <td><a href="#"> <h6 class="mb-0">{% if product.status %} <span style="color: rgb(143, 143, 39);">Active</span>  {% else %} <span style="color: rgb(120, 40, 40);">Blocked</span> {%endif %}</h6></a></td>
                                    <td>{{ product.price }}</td>
                                    <td><a href="#"> <h6 class="mb-0"> {{product.in_stock}}</h6></a></td>

                                    {% comment %} <td class="text-end">
                                     } <span class="badge rounded-pill {% if product.stock_count != '0' %} alert-success {% else %} alert-danger {% endif %}"> 
                                            {% if product.stock_count == '0' %} Out of Stock  {% else %} {{product.stock_count}}  {% endif %} </span>
                                    </td> {% endcomment %}



                                    <td class="text-end" >
                                        <div class="dropdown">
                                         
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                            <div class="dropdown-menu">
                                                <!-- <a class="dropdown-item" href="#">View detail</a> -->
                                                <a class="dropdown-item" href="{% url 'adminside:product_edit' product.pid  %}">edit_info</a>
                                                <a class="dropdown-item text-danger" href="{% url 'adminside:delete_product' product.pid %}">Delete</a>
                                                <form class="mt-3 mb-3" method="post" action="{% url 'adminside:block_unblock_products' product.pid %}" style="display: inline;">{% csrf_token %}
                                                 <button type="submit" class="btn btn-sm {% if not product.is_active %}btn-danger{% else %}btn-success{% endif %}">
                                                {% if not product.is_active %}Unblock{% else %}Block{% endif %}
                                            </button>
                                          </form>

                                               
                                            </div>
                                        <!-- dropdown //end -->
                                     
                                    </td>




                                    {% comment %} <td>
                                        <a class="dropdown-item text-danger" href="{% url 'adminside:delete_product' product.pid %}">Delete</a>
                                        <form class="mt-3 mb-3" method="post" action="{% url 'adminside:block_unblock_products' product.pid %}" style="display: inline;">{% csrf_token %}
                                         <button type="submit" class="btn btn-sm {% if not product.is_active %}btn-danger{% else %}btn-success{% endif %}">
                                        {% if not product.is_active %}Unblock{% else %}Block{% endif %}
                                    </button>
                                  </form>
                                  </td> {% endcomment %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
        
                    








                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            
{% if productss.has_previous %}
<a href="?page=1">&laquo First</a>
<a href="?page={{products.previous_page_number}}">Previous</a>


{%  endif %}
Page {{productss.number}} of {{productss.paginator.num_pages}}
{% if productss.has_next %}
<a href="?page={{productss.next_page_number}}">Next</a>
<a href="?page={{productss.paginator.num_pages}}">Last  &raquo</a>

{% endif %}
        </section> <!-- content-main end// -->
{% endblock body %}