{% extends "partials/base.html" %}
{% load static %}
{% block content%} 

<main class="main" id="cart-list">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Your Cart
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        {% if not cart_items %}
        <h2 class="text-center">your shopping cart is empty!!!</h2>
        <br>
        <div class="text-center">
            <a href="{% url "app:index" %}" class="btn btn-primary">Continue shopping</a>
        </div>
        {% else %}
       <div class="container">
        <div id="error-message" style="padding: 10px; margin-bottom: 10px; border: 1px solid #ccc; border-radius: 5px; background-color: #f8d7da; color: #721c24; display: none;"></div>        
        <!-- {% for message in messages  %}
        <div class="alert alert-{{message.tags}} alert-dismissible fade show"role="alert">
          <strong></strong> {{message}} 
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %} -->
   
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center clean">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col">Image</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Price</th>
                                    <th scope="col" class="text-center">Quantity</th>
                                    <th scope="col">Subtotal</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                               
{% for item in cart_items %}
<tr>
    <td class="image product-thumbnail"><img src="{{ item.product.image.url }}" alt="#"></td>
    <td class="product-des product-name">
        <h5 class="product-name"><a href="{% url 'app:product_detail' item.product.pid %}">{{ item.product.title }}</a></h5>
        <p class="font-xs">
            {% if item.variations.all %}
                <p>yes</p>
                {% for iteme in item.variations.all %}
                    <li>Size:{{ iteme.size|upper }}</li>
                {% endfor %}
           {% endif %}
        
            </p>

    </td>
   

   <td class="price" data-title="Price"><span><span>₹</span>{{ item.product.price|floatformat:2 }}</span></td>

<td>
    <div class="input-group">
        <a href="{% url 'cart:remove_cart' item.product.pid item.id %}" class=" remove-btn btn btn-outline-secondary" type="button" id="button-minus"><i class="fa fa-minus"></i></a>
        <input type="text" class="form-control" value="{{ item.quantity }}" aria-label="Item quantity">
       <form  class="add-to-cart-form" action="{% url 'cart:add_cart' item.product.pid %}" method="POST">
        {% csrf_token %}
        {% for item in item.variations.all  %}
        <input type='hidden' name="size" value="{{item.size}}">
        {% endfor %}
        <button class="btn btn-outline-secondary" type="submit" id="button-plus"><i class="fa fa-plus"></i></button>

    </form>
    </div>
</td>   




    <td class="text-right" data-title="Cart"><span>₹{{ item.sub_total }}</span></td>
    <td class="action" data-title="Remove">
        <a href="{% url 'cart:remove_cart_item' item.product.pid item.id %}" onclick="return confirm('Are you sure u want to delete this item?')" style="border:none; background:none;" class="text-body delete-product" >
            <i class="fi-rs-trash"></i>
        </a>
    </td> 
</tr>
{% endfor %}
                                <tr>
                                    <td colspan="6" class="text-end">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="cart-action text-end">
                        <div class="button-container">
                            <button class="btn  mr-10 mb-sm-15" onclick="reloadPage()">Update Cart</button>
                            <a href="{% url "app:index" %}" class="btn"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                        </div>
                    </div>
                    
                    <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                    <div class="row mb-50">
                        <div class="col-lg-6 col-md-12">
                           
                            <div class="mb-30 mt-50">
                                <div class="heading_s1 mb-3">
                                   
                                </div>
                                <div class="total-amount">
                                    <div class="left">
                                        <div class="coupon">
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="border p-md-4 p-30 border-radius cart-totals">
                                <div class="heading_s1 mb-3">
                                    <h4>Cart Totals</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <tr>
                                                <td class="cart_total_label">Cart Subtotal</td>
                                                <td class="cart_total_amount"><span class="font-lg fw-900 text-brand">₹{{total}}</span></td>
                                            </tr>
                                            <tr>
                                                <td class="cart_total_label">Shipping</td>
                                                <td class="cart_total_amount"> <i class="ti-gift mr-5"></i>₹{{shipping}}</td>
                                            </tr>
                                            {% if offer_price %}
                                            <tr>
                                                <th>Offer</th>
                                                <td colspan="2"><em>-{{offer_price}}</em></td>
                                            </tr>
                                            {% endif %}
                                            <tr>
                                                <td class="cart_total_label">Total</td>
                                                <td class="cart_total_amount"><strong><span class="font-xl fw-900 text-brand">₹{{grand_total|floatformat:2}}</span></strong></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                   <a href="{% url "cart:Checkout" %}" class="btn proceed-to-checkout-btn"> <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </section>
</main>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function() {
        // AJAX for removing item from cart
        $(".remove-btn").click(function(e) {
            e.preventDefault(); // Prevent the default behavior of the anchor element
            var removeUrl = $(this).attr('href');
            var quantityDisplay = $(this).closest('.input-group').find('.form-control'); // Assuming the input is in the same input-group div
            var rowToRemove = $(this).closest('tr');
            $.ajax({
                type: "POST",
                url: removeUrl,
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}'},
                success: function(data) {
                    if (data.success) {
                        // Update UI after successful removal
                        // Example: Decrease the quantity displayed in the UI
                        quantityDisplay.val(parseInt(quantityDisplay.val()) - 1);
                        
                    } else {
                        var currentQuantity = parseInt(rowToRemove.find('.form-control').val());
                        rowToRemove.find('.form-control').val(currentQuantity - 1);
                        if (currentQuantity <= 1) {
                        // If the quantity becomes zero or less, remove the row from the table
                              rowToRemove.remove();
                        }
                        // Handle failure: display error message
                        $("#error-message").text(data.message).show();
                    }
                   
                },
                error: function(xhr, textStatus, errorThrown) {
                    // Handle error here
                    console.error(xhr.statusText);
                }
            });
        });
    
        // AJAX for adding item to cart
        $(".add-to-cart-form").submit(function(e) {
            e.preventDefault();
            var formData = $(this).serialize();
            var quantityDisplay = $(this).closest('.input-group').find('.form-control'); // Assuming the input is in the same input-group div
            $.ajax({
                type: "POST",
                url: $(this).attr("action"),
                data: formData,
                success: function(data) {
                    if (data.success) {
                        // Update quantity value in UI
                        quantityDisplay.val(parseInt(quantityDisplay.val()) + 1);
                        // Example: Update cart count in UI
                        $("#cart-count").text(data.cart_count);
                    } else {
                        $("#error-message").text(data.message).show();
                    }
                },
                error: function(error) {
                    console.error('Error during AJAX request:', error);
                    console.log("AJAX Request Error");
                    $(".messages").show();
                    $(".messages").text('Error during AJAX request. Please try again.');
                }
                //error: function(xhr, textStatus, errorThrown) {
                    // Handle error here
                 //   console.error(xhr.statusText);
             //   }
            });
        });
       
    });
    
    </script> 

<script>
    // JavaScript function to reload the page
    function reloadPage() {
        location.reload();
    }
</script>
    



<script>
    $(document).ready(function() {
        // AJAX for proceeding to checkout
        $(".proceed-to-checkout-btn").click(function(e) {
            e.preventDefault();
            $.ajax({
                type: "GET", // Change the request type if needed
                url: $(this).attr("href"),
                success: function(data) {
                    // Check if there are messages in the response
                    if (data.message) {
                        // Display the message
                        alert(data.message);
                        $("#error-message").text(data.message).show();

                    } else {
                        // No message found, proceed to the checkout page
                        window.location.href = "{% url 'cart:Checkout' %}";
                    }
                },
                error: function(xhr, textStatus, errorThrown) {
                    console.error('Error during AJAX request:', xhr.statusText);
                    // Show generic error message
                    alert('Error during AJAX request. Please try again.');
                }
            });
        });
    });
</script>

    
{% endblock content %}