{% extends "partials/base.html" %}
{% load static %}



{% block content%}
<div class="single-header mb-50 text-center">
    {% comment %} <h1 class="font-xxl text-brand">f'{{category.title}}|</h1> {% endcomment %}
    <div class="entry-meta meta-1 font-xs mt-15 mb-15">
        <span class="post-by">{{products.count}} Products</span>
        {% comment %} <span class="post-on has-dot">1020k Article</span>
        <span class="time-reading has-dot">480 Authors</span>
        <span class="hit-count  has-dot">29M Views</span> {% endcomment %}
    </div>
</div>


<div class="tab-content wow fadeIn animated animated animated" id="myTabContent" style="visibility: visible;">
    <div class="tab-pane fade show active" id="tab-one" role="tabpanel" aria-labelledby="tab-one">
        <div class="row product-grid-4">
            {% for p in products %}
            <div class="col-lg-3 col-md-4 col-12 col-sm-6">
                <div class="product-cart-wrap mb-30">
                    <div class="product-img-action-wrap">
                        <div class="product-img product-img-zoom" style="width: 200px; height: 200px; overflow: hidden;">
                            <a href="{% url 'app:product_detail' p.pid %}">
                                {% if p.image %}
                                    <img class="default-img" src="{{ p.image.url }}" alt="" style="width: 100%; height: auto;">
                                {% else %}
                                    <!-- Placeholder image or alternative content -->
                                    <span style="display: block; width: 100%; height: 100%; background-color: #f0f0f0; text-align: center; line-height: 200px;">No Image Available</span>
                                {% endif %}
                            </a>
                        </div>
                        <div class="product-action-1">
                            <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                        </div>
                        <div class="product-badges product-badges-position product-badges-mrg">
                            <span class="hot">Hot</span>
                        </div>
                    </div>
                    <div class="product-content-wrap" style="min-height: 150px;">
                        <div class="product-category">
                            <a href="shop-grid-right.html">{{p.category}}</a>
                        </div>
                        <div class="product-category">
                        <a href="shop-grid-right.html">Anime:{{p.anime}}</a>
                        </div>
                        {% if p.character %}
                        <div class="product-category">
                            <a href="shop-grid-right.html">Character: {{p.character}}</a>
                        </div>
                        {% endif %}
                        <h2><a href="shop-product-right.html">{{p.title}}</a></h2>
                        <div class="rating-result" title="90%">
                            <span>
                                <span>90%</span>
                            </span> 
                        </div>
                        <div class="product-price">
                            <span>₹</span><span class="current-price current-product-price-{{ p.id }} text-brand">{{p.price}}</span>
                            <span class="old-price">₹{{p.old_price}}</span>
                        </div>
                        <div class="product-action-1 show">
                            <input type="hidden" value="1" id="product-quantity-{{ p.id }}" class="product-quantity-{{ p.id }}">
                            <input type="hidden" value="{{ p.pid }}" id="product-pid-{{ p.id }}" class="product-pid-{{ p.id }}">
                            <input type="hidden" value="{{ p.image.url }}" class="product-image-{{ p.id }}">
                            <input type="hidden" value="{{ p.id }}" class="product-id-{{ p.id }}">
                            <input type="hidden" value="{{ p.title }}" class="product-title-{{ p.id }}">
                            <button class="add add-to-cart-btn hover-up" data-index="{{ p.id }}" ><i class="fi-rs-shopping-bag-add" id="add-to-cart-btn"></i></button>
                        </div>
                        
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock content %} 




