{% extends "partials/base.html" %}
{% load static %}
{% load custom_filters %}

{% block content %}
<section class="mt-50 mb-50">
    <div class="container">
                               <div class="row">
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                
                                        <div class="detail-gallery">
                                            <form action="{% url 'cart:add_cart' product.pid %}" method="POST">
                                            {% csrf_token %}
                                            <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                            <!-- MAIN SLIDES -->
                                            <div class="product-image-slider">
                                                <figure class="border-radius-10">
                                                    <img src="{{product.image.url}}" alt="product image">
                                                </figure>
                                                {% for p in p_image %}
                                                {% if p.Images %}
                                                <figure class="border-radius-10">
                                                    <img src="{{ p.Images.url }}" alt="product image">
                                                </figure>
                                                {% endif %}
                                                {% endfor %}
                                            
                                        </div>
                                    </div>
                   
                    
                                        <div class="slider-nav-thumbnails pl-15 pr-15">
                                            <div><img src="{{ product.image.url }}" alt="product image"></div>
                                            {% for p in p_image %}
                                            {% if p.Images %}
                                              <div><img src="{{ p.Images.url }}" alt="product image"></div>
                                            {% endif %}
                                            {% endfor %}
                                            <!-- THUMBNAILS -->
                                            {% comment %} <div class="slider-nav-thumbnails pl-15 pr-15">
                                            {% for p in  product_images %}
                                            <div><img src="{{p.image.url}}"  alt="product image"></div> {% endcomment %}
                                            {% comment %} <div><img src="{% static 'assets/imgs/shop/thumbnail-4.jpg' %}"  alt="product image"></div>
                                            <div><img src="{% static 'assets/imgs/shop/thumbnail-5.jpg' %}"  alt="product image"></div>
                                            <div><img src="{% static 'assets/imgs/shop/thumbnail-6.jpg' %}"  alt="product image"></div>
                                            <div><img src="{% static 'assets/imgs/shop/thumbnail-7.jpg' %}"  alt="product image"></div>
                                            <div><img src="{% static 'assets/imgs/shop/thumbnail-8.jpg' %}"  alt="product image"></div>
                                            <div><img src="{% static 'assets/imgs/shop/thumbnail-9.jpg' %}"   alt="product image"></div> {% endcomment %}
                                            {% comment %} {% endfor %} {% endcomment %}
                                        </div>
                                </div>
                                    <div class="col-md-6 col-sm-12 col-xs-12">
                                        <div class="detail-info">
                                        <h2 class="title-detail">{{product.title}}</h2>
                                        <div class="product-detail-rating">
                                            <div class="pro-details-brand">
                                                <span> Anime: <a href="shop-grid-right.html">{{product.anime}}</a></span>
                                            </div>
                                            <div class="product-rate-cover text-end">
                                                <div class="product-rate d-inline-block">
                                                    <div class="product-rating" style="width:90%">
                                                    </div>
                                                </div>
                                                <span class="font-small ml-5 text-muted"> (25 reviews)</span>
                                            </div>
                                        </div>
                                        <div class="clearfix product-price-cover">
                                            <div class="product-price primary-color float-left">
                                                <ins> <span>₹</span><span class="current-price current-product-price-{{ product.id }} text-brand">{{product.price}}</span></ins>
                                                <ins> <span class="old-price font-md ml-15"><span>₹</span>{{product.old_price}}</span></ins>
                                                <span class="save-price  font-md color3 ml-15">-{{product.get_percentage|floatformat:0}}%off   </span>
                                                {% for offer in offers %}
                                                {% if offer.discount %}
                                                <p>Offer <span style="color: red;">{{ offer.discount }} off</span></p>
                                                {% endif %}
                                                {% endfor %}
                                            </div>
                                        </div>
                                        <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                        <div class="short-desc mb-30">
                                            <p>{{product.descriptions|truncatechars:300}}</p>
                                        </div>
                                        <div class="product_sort_info font-xs mb-30">
                                            <ul>
                                                <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year AL Jazeera Brand Warranty</li>
                                                <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day Return Policy</li>
                                                <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery available</li>
                                            </ul>
                                        </div>
                                        {% comment %} <div class="attr-detail attr-color mb-15">
                                            <strong class="mr-10">Color</strong>
                                            <ul class="list-filter color-filter">
                                                <li><a href="#" data-color="Red"><span class="product-color-red"></span></a></li>
                                                <li><a href="#" data-color="Yellow"><span class="product-color-yellow"></span></a></li>
                                                <li class="active"><a href="#" data-color="White"><span class="product-color-white"></span></a></li>
                                                <li><a href="#" data-color="Orange"><span class="product-color-orange"></span></a></li>
                                                <li><a href="#" data-color="Cyan"><span class="product-color-cyan"></span></a></li>
                                                <li><a href="#" data-color="Green"><span class="product-color-green"></span></a></li>
                                                <li><a href="#" data-color="Purple"><span class="product-color-purple"></span></a></li>
                                            </ul>
                                        </div> {% endcomment %}
                                        {% comment %} <div class="attr-detail attr-size item-option-select"> {% endcomment %}
                                            {% comment %} <strong class="mr-10">Size</strong>
                                            <ul name="size" class="list-filter size-filter font-small form-control">
                                                <li value='small'><a href="#">S</a></li>
                                                <li class="active"><a href="#">M</a></li>
                                                <li value='large'><a href="#">L</a></li>
                                                <li><a value='largeee' href="#">XL</a></li>
                                                <li><a href="#">XXL</a></li>
                                            </ul> {% endcomment %}
                                            {% if not all_sizes_out_of_stock %}
                                            <div class="row">
                                            <div class="item-option-select">
                                                    <h6>Select Size </h6>
                                                    <select name="size" class="form-control" style="width: 150px; font-size: 14px; padding: 5px 25px 5px 5px; -webkit-appearance: none; -moz-appearance: none; appearance: none; background-image: url('data:image/svg+xml,%3Csvg fill=%22none%22 xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 24 24%22 stroke=%22currentColor%22 width=%2212%22 height=%2212%22%3E%3Cpath stroke-linecap=%22round%22 stroke-linejoin=%22round%22 stroke-width=%222%22 d=%22M19 9l-7 7-7-7%22%3E%3C/path%3E%3C/svg%3E'); background-repeat: no-repeat; background-position: right 5px top 50%;">
                                                        {% for size, status in sizes_out_of_stock.items %}
                                                        {% if status %}
                                                            <option value="{{ size }}" disabled>{{ size }} (Out of stock)</option>
                                                        {% else %}
                                                            <option value="{{ size }}">{{ size }}</option>
                                                        {% endif %}
                                                    {% endfor %}
                                                    </select>
                                                 
                                            </div>
                                            
                                        </div>
                                        {% endif %}
                                        <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                        <div class="detail-extralink">
                                            {% comment %} <div class="detail-qty border radius">
                                                <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                <span class="qty-val">1</span>
                                                <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                            </div> {% endcomment %}

                                            {% comment %} <input type="number" value="1" name="" id="product-quantity" class="w-25 mb-10 product-quantity-{{ product.id }}">
                                            <div class="product-extra-link2">
                                                {% endcomment %}
                                                {% comment %} <input type="hidden" value="{{ product.id}}" class="product-id" name="" id="">
                                                <input type="hidden" value="{{ product.title}}" class="product-title" name="" id=""> {% endcomment %}

                                                {% comment %} <input type="hidden" value="1" id="product-quantity-{{ product.id }}" class="product-quantity-{{ product.id }}"> {% endcomment %}
                                                <input type="hidden" value="{{ product.pid }}" id="product-pid-{{ product.id }}" class="product-pid-{{ product.id }}">
                                                <input type="hidden" value="{{ product.image.url }}" class="product-image-{{ product.id }}">
                                                <input type="hidden" value="{{ product.id }}" class="product-id-{{ product.id }}">
                                                <input type="hidden" value="{{ product.title }}" class="product-title-{{ product.id }}">
                                              
                                                {% if all_sizes_out_of_stock %}
                                                <button type="submit" class="btn btn-primary" disabled><span class="button-text">Out of stock</span></button>
                                                {% else %}
                                                 <button type="submit" class="btn btn-primary"><span class="button-text">Add to cart</span></button>
                                                {% endif %}                                              
                                       
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up" href="{% url "app:add_to_wishlist" product.pid %}"><i class="fi-rs-heart"></i></a>
                                                <a aria-label="Compare" class="action-btn add-to-cart-btn hover-up" data-index="{{ product.id }}" href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                            </div>
                                        </div>
                                        <ul class="product-meta font-xs color-grey mt-50">
                                            <li class="mb-5">SKU: <a href="#">FWM15VKT</a></li>
                                            <li class="mb-5">Tags: <a href="#" rel="tag">Cloth</a>, <a href="#" rel="tag">Women</a>, <a href="#" rel="tag">Dress</a> </li>
                                            <li>Availability:<span class="in-stock text-success ml-5">8 Items In Stock</span></li>
                                        </ul>
                                    
                                   </div>
                                 </form>
                                    <!-- Detail Info -->
                                </div>
                            
                             </div>
                        {% comment %} </div> 
                    </div> {% endcomment %}
                            <div class="row">
                                <div class="col-lg-10 m-auto entry-main-content">
                                    <h2 class="section-title style-1 mb-30">Description</h2>
                                    <div class="description mb-50">
                                        <p>{{product.descriptions}}</p>
                                        
                                        <ul class="product-more-infor mt-30">
                                            <li><span>style</span> {{product.fit}}</li>
                                            <li><span>Fabric</span> {{product.fabric}}</li>
                                            {% comment %} <li><span>Quantity Per Case</span> 100ml</li>
                                            <li><span>Ethyl Alcohol</span> 70%</li>
                                            <li><span>Piece In One</span> Carton</li> {% endcomment %}
                                        </ul>
                                        <hr class="wp-block-separator is-style-dots">
                                        <p>{{product.specifications}}</p>
                                        <h4 class="mt-30">Packaging & Delivery</h4>
                                        <hr class="wp-block-separator is-style-wide">
                                        <p>Less lion goodness that euphemistically robin expeditiously bluebird smugly scratched far while thus cackled sheepishly rigid after due one assenting regarding censorious while occasional or this more crane
                                            went more as this less much amid overhung anathematic because much held one exuberantly sheep goodness so where rat wry well concomitantly.
                                        </p>
                                        <p>Scallop or far crud plain remarkably far by thus far iguana lewd precociously and and less rattlesnake contrary caustic wow this near alas and next and pled the yikes articulate about as less cackled dalmatian
                                            in much less well jeering for the thanks blindly sentimental whimpered less across objectively fanciful grimaced wildly some wow and rose jeepers outgrew lugubrious luridly irrationally attractively
                                            dachshund.
                                        </p>
                                    </div>
                                    <h3 class="section-title style-1 mb-30">Additional info</h3>
                                    <table class="font-md mb-30">
                                        <tbody>
                                            <tr class="stand-up">
                                                <th>Fit style</th>
                                                <td>
                                                    <p>{{product.fit}}</p>
                                                </td>
                                            </tr>
                                            <tr class="folded-wo-wheels">
                                                <th>Fabric</th>
                                                <td>
                                                    <p>{{product.fabric}}</p>
                                                </td>
                                            </tr>
                                            <tr class="folded-w-wheels">
                                                <th>Care</th>
                                                <td>
                                                    <p>{{product.care}}</p>
                                                </td>
                                            </tr>
                                            <tr class="door-pass-through">
                                                <th>Sleeve type</th>
                                                <td>
                                                    <p>{{product.sleeve}}</p>
                                                </td>
                                            </tr>
                                            <tr >
                                                <th>Collar style</th>
                                                <td>
                                                    <p>{{product.collar}}</p>
                                                </td>
                                            </tr>
                                            
                                        </tbody>
                                    </table>
                                </div> 
                            </div>  
<!-- Vendor JS and other scripts -->

    
    <!-- Vendor JS-->
    <script src="{% static 'assets/js/vendor/modernizr-3.6.0.min.js' %}" ></script>
    <script src="{% static 'assets/js/vendor/jquery-3.6.0.min.js' %}" ></script>
    <script src="{% static 'assets/js/vendor/jquery-migrate-3.3.0.min.js' %}" ></script>
    <script src="{% static 'assets/js/vendor/bootstrap.bundle.min.js' %}" ></script>
    <script src="{% static 'assets/js/plugins/slick.js' %}" ></script>
    <script src="{% static 'assets/js/plugins/jquery.syotimer.min.js' %}" ></script>
    <script src="{% static 'assets/js/plugins/wow.js' %}" ></script>
    <script src="{% static 'assets/js/plugins/jquery-ui.js' %}" ></script>
    <script src="{% static 'assets/js/plugins/perfect-scrollbar.js' %}" ></script>
    <script src="{% static 'assets/js/plugins/magnific-popup.js' %}" ></script>
    <script src="{% static 'assets/js/plugins/select2.min.js' %}" ></script>
    <script src="{% static 'assets/js/plugins/waypoints.js' %}" ></script>
    <script src="{% static 'assets/js/plugins/counterup.js' %}" ></script>
    <script src="{% static 'assets/js/plugins/jquery.countdown.min.js' %}" ></script>
    <script src="{% static 'assets/js/plugins/images-loaded.js' %}" ></script>
    <script src="{% static 'assets/js/plugins/isotope.js' %}" ></script>
    <script src="{% static 'assets/js/plugins/scrollup.js' %}" ></script>
    <script src="{% static 'assets/js/plugins/jquery.vticker-min.js' %}" ></script>
    <script src="{% static 'assets/js/plugins/jquery.theia.sticky.js' %}" ></script>
    <script src="{% static 'assets/js/plugins/jquery.elevatezoom.js' %}" ></script>
    <!-- Template  JS -->
    <script src="{% static 'assets/js/main.js' %}" ></script>
    <script src="{% static 'assets/js/shop.js' %}" ></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-frontend/shop-product-full.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:26:43 GMT -->
</html>

   
{% endblock content %}