{% extends "partials/base.html" %}
{% load static %}
{% block content %}



<div class="card">
    <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
        <div class="padding_eight_all bg-white">
            <div class="heading_s1">
    <h1>Pay using your wallet</h1>


    <!-- Display wallet amount -->
    <h4>pay:{{amount}}</h4>

    <!-- Wallet authentication form -->
    <form method="post" class="wallet-auth-form">
        {% csrf_token %}
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <button type="submit">Complete payment</button>
        </div>
    </form>
</div>
</div>
</div>
</div>




{% endblock content %}



