{% extends "partials/base.html" %}
{% block content %}


<main class="main">
    <div class="page-header breadcrumb-wrap">
        <div class="container">
            <div class="breadcrumb">
                <a href="index.html" rel="nofollow">Home</a>
                <span></span> Shop
                <span></span> Wishlist
            </div>
        </div>
    </div>
    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table shopping-summery text-center">
                            <thead>
                                <tr class="main-heading">
                                    <th scope="col" colspan="2">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Stock Status</th>
                                    <th scope="col">Action</th>
                                    <th scope="col">Remove</th>
                                </tr>
                            </thead>
                            <tbody>
                                
                                {% for product in wishlist_items %}          
                              <tr>
                                   
                                    <td class="image product-thumbnail"><img src="{{product.image.url}}" alt="#"></td>
                                    <td class="product-des product-name">
                                        <h5 class="product-name"><a href="{% url 'app:product_detail' product.pid %}">{{product.title}}</a></h5>
                                        <p class="font-xs">{{product.anime}},{{product.character}}<br> {{product.descriptions}}
                                        </p>
                                    </td>
                                    <td class="price" data-title="Price"><span>{{product.price}}</span></td>
                                    <td class="text-center" data-title="Stock">
                                        <span class="color3 font-weight-bold">{{product.in_stock}}</span>
                                    </td>
                                    <td class="text-right" data-title="Cart">
                                        <a href="{% url 'cart:add_cart' product.pid %}"  class="btn btn-sm"><i class="fi-rs-shopping-bag mr-5"></i>Add to cart</a>
                                    </td>
                                    <td class="action" data-title="Remove">
                                        <a href="#" id="removeLink_{{ product.pid }}" data-product-id="{{ product.pid }}"><i class="fi-rs-trash"></i></a>
                                    </td>                             </tr>
                                {% endfor %}
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div>
            {% if wishlist_items.has_previous %}
            <a href="?page=1">&laquo; First</a>
            <a href="?page={{ wishlist_items.previous_page_number }}">Previous</a>
            {% endif %}
            
            Page {{ wishlist_items.number }} of {{ wishlist_items.paginator.num_pages }}
            
            {% if wishlist_items.has_next %}
            <a href="?page={{ wishlist_items.next_page_number }}">Next</a>
            <a href="?page={{ wishlist_items.paginator.num_pages }}">Last &raquo;</a>
            {% endif %}
        </div>
    </section>


</main>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        var removeLinks = document.querySelectorAll("[id^='removeLink_']");
        removeLinks.forEach(function(link) {
            link.addEventListener("click", function(event) {
                event.preventDefault();
                var productId = this.getAttribute("data-product-id");
                if (confirm('Are you sure you want to remove this item from your wishlist?')) {
                    var url = "/remove-from-wishlist/" + productId + "/";
                    window.location.href = url;
                }
            });
        });
    });
</script>


{% endblock content %}

